.bg2 > h4 { padding-bottom: 16px; }

// 选项选中的样式
@mixin active {
  background-color: #f0a338;
  color: #fff;
  // border: 4px inset #f0a338;
  outline: 3px inset #f0a338;
  border: transparent;
}
// 选项未选中的样式
@mixin no-active {
  background-color: #fef0b5;
  color: #000;
  // border: 4px outset #fef0b5;
  outline: 3px outset #fef0b5;
  border: transparent;
}

// 这个 wrap 是 “盒子” 的意思
.options-wrap {

  width: 100%;
  max-width: 1300px;
  height: 370px;
  overflow: auto;
  padding: 24px;
  
  // 选项标题（通用，故优先级低，方便后面覆盖）
  .option-title {
    font-size: 24px;
    font-weight: bold;
    min-width: 220px;
    padding-right: 20px;
  }
  // 选项（通用，优先级低，方便后面覆盖）
  .option-box {
    border-radius: 4px;
    border: 2px solid #aa6330;
    min-width: 100px;
    width: max-content;
    height: 14px;
    padding: 10px 4px;
    margin-right: 38px;
    box-sizing: content-box;
    background-color: #fef0b5;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      background-color: #f0a338;
      color: #fff;
      outline: 3px inset #f0a338;
      border-color: transparent;
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  ul {
    // 不加这个相对定位，后面的 input 的 checkbox 切换时会“错位”
    position: relative;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 14px 0;

      // 使用 checkbox 实现 二选一 样式切换
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
      }
      input[type="checkbox"]:checked ~ .option-check1 { @include active; }
      input[type="checkbox"]:checked ~ .option-check2 { @include no-active; }
      .option-check1 { @include no-active; }
      .option-check2 { @include active; }
    }
    // 为选项需要换行的 <li> 单独配置样式(选项换行到下一列)
    // 这个 wrap 是换行的意思。
    .option-wrap {
      flex-wrap: wrap;
      width: 751px;
      .option-title {
        width: 100%;
      }
      .option-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 20px;
        padding: 8px 10px;
        margin: 12px 20px;
        min-width: 170px;
        svg {
          width: 30px;
          height: 30px;
          padding-right: 5px;
        }
      }
    }
    // 单独配置最后面的 是否勾选 样式
    .tick {
      &.active .option-box::before {
        content: '✔';
        width: 24px;
        height: 24px;
        line-height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-weight: bold;
      }
      .option-box {
        --side: 26px;
        width: var(--side);
        height: var(--side);
        padding: 0;
        min-width: 0;
        position: relative;
      }
      .option-title {
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }
}
